# Node.js
node_modules/
npm-debug.log*

# Build output
dist/

# Env files
.env

# Logs
logs/
*.log
*.log.*

# Docker
docker-compose.override.yml
.Dockerfile.swp

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Optional: coverage reports
coverage/
